<div class="game-image" [style.background-image]="'url(' + game.thumbnail  + ')'">
</div>
<div class="game-text">
  <h1>{{game.name}}</h1>
  <rating-template [gameId]="game.id" [currentRate]="gameRate" [readonly]="true"
                   [isOverallRate]="true"></rating-template>
</div>
<div *ngIf="authService.userLoggedIn()" class="game-panel">
  <app-favorite-button [selected]="isFavorite" [gameId]="game.id"></app-favorite-button>
  <hr>
  <rating-template [gameId]="game.id" [currentRate]="currentUserRate" [readonly]="false"
                   [isOverallRate]="false"></rating-template>
</div>
<div class="container">
  <div class="row">
    <div class="game-properties">
      <p></p>
      <p>{{game.distributor}}</p>
      <p>{{game.description}}</p>
      <p>{{game.releaseDate}}</p>
      <p>{{game.genre}}</p>
      <p>{{game.producer}}</p>
    </div>
  </div>
</div>
